<link rel="stylesheet" href="/static/style.css">

<div class="box">
<h2>User Login</h2>
<form action="/" method="post">
<input name="email" placeholder="User Email" required>
<input name="password" type="password" placeholder="Password" required>
<button>User Login</button>
</form>

<hr>

<h2>Admin Login</h2>
<form action="/admin_login" method="post">
<input name="email" placeholder="Admin Email" required>
<input name="password" type="password" placeholder="Password" required>
<button style="background:#28a745">Admin Login</button>
</form>

<a href="/register">New User?</a>
</div>
